:root {
  --first-color-light: #fff;
  --first-color-dark: #202124;
  --second-color-1-light: #D2E3FC;
  --second-color-1-dark: #4285F4;
  --second-color-2-light: #FAD2CF;
  --second-color-2-dark: #EA4335;
  --second-color-3-light: #FEEFC3;
  --second-color-3-dark: #FBBC04;
  --second-color-4-light: #CEEAD6;
  --second-color-4-dark: #34AB53;
  /*--line-color-1: #F8F9FA;*/
  --line-color-1: rgba(255,255,255,.2);
  /*--line-color-1-dark: #F1F3F4;*/
  --line-color-1-dark: rgba(255,255,255,.2);
  /** current colors **/
  --first-color: var(--first-color-light);
  --second-color-light: var(--second-color-1-light);
  --second-color-dark: var(--second-color-1-dark);
  --line-color: var(--line-color-1);
  --line-color-dark: var(--line-color-1-dark);
}

.uk-light .uk-nav-default>li.uk-active>a {
  color: var(--second-color-dark);
}

.tm-sidebar-left {
  position: fixed;
  top: 0px;
  bottom: 0;
  box-sizing: border-box;
  /*width: 240px !important;*/
  padding: 40px 40px 0px 20px;
  overflow: auto;
}

.timeline {
  border: 1px solid var(--line-color);
  border-bottom: 0px;
  border-top: 0px;
}

.top-nav {
  border-bottom: 1px solid var(--line-color);

}

.timeline .uk-card {
  box-shadow: none;
  border-bottom: 1px solid  var(--line-color);
}

.timeline .bigger-bottom {
  border-bottom: 10px solid  var(--line-color);
}


.addjoke-container .uk-navbar-item {
  min-height: 40px;
}

.fixed {
  postion: fixed;
}

.uk-search svg {
  width: 20px;
  height: 20px;
}

.uk-search-navbar .uk-search-input {
  font-size: 1rem;
}

.sidebar-inner .uk-border-rounded {
  border-radius: 25px;
}
.uk-card .uk-description-list dt, .uk-card .uk-description-list dd, .uk-card-header, .uk-card-footer  {
  padding-left: 20px;
}

.uk-navbar-item h4 {
  margin: 0px;
}

.uk-textarea {
  overflow-y: hidden;
  resize: none;
  border: none;
}

.icon-link {
  padding: 10px;
}

/** light mode start **/

.sidebar-inner .uk-card-default {
  background: var(--line-color);
  box-shadow: none;
}

.timeline .uk-card:hover:not(.entry-box) {
background: var(--line-color);
}

.uk-logo {
  color: black;
}

.timeline .uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: var(--first-color);
}

.uk-button {
  border-radius: 25px;
}

.uk-nav-header {
  font-size: 1.2rem;
}

.uk-nav>li>a {
  padding-top: 7px;
  padding-left: 7px;
  background: none;
}

.uk-active>.uk-icon-button {
  background: none;
}

.addjoke-container .uk-navbar-container {
  background-color: var(--first-color);
}
.addjoke-container .uk-navbar-left {
  border-radius: 50px;
  background-color: var(--line-color);
}

.addjoke-container .uk-navbar-container {
  background-color: var(--first-color);
}

.uk-table-hover tbody tr:hover {
  background: var(--line-color-dark);
}

.uk-card-footer:hover {
  background: var(--line-color-dark);
  border-radius: 0 0 25px 25px;
}

/* color choice 1 */

.icon-link:hover  {
   color: var(--second-color-dark) !important;
   background-color: var(--second-color-light);
   border-radius: 30px;
   padding: 10px;
}

.icon-link-small:hover  {
  color: var(--second-color-dark) !important;
  background-color: var(--second-color-light);
  border-radius: 30px;
}

.uk-nav-default>li.uk-active>a {
  color: var(--second-color-dark);
}

.uk-button-primary {
  background-color: var(--second-color-dark);
}

.uk-tooltip {
  background: var(--second-color-dark);
}

.uk-card-footer {
  color: var(--second-color-dark);
}

.uk-card-default {
  background: var(--first-color);
}

.uk-card-default .uk-card-footer {
  border-top: 1px solid var(--line-color);
}

body {
  background-color: var(--first-color);
}